    .heading-hero {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      margin: 2em auto;
      margin-top: 0;
      padding-top: 33px;
      padding-bottom: 19%;
      background: #00c6fc;
      background: linear-gradient(360deg, rgba(0, 198, 252, 0.92) 0%,
       rgba(196, 233, 255, 0.94) 65%, rgba(255, 255, 255, 1) 100%);
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      box-shadow: 0px 10px 15px rgba(196, 233, 255, 0.94);
      animation: fader 2s;
    }

    .heading-contents h1 {
    color: black;
    font-size: 48px;
    line-height: 1.4;
    font-family: "Archivo Black", sans-serif;
    margin-top: 18%;
    }

    .heading-contents p {
    font-size: 28px;
    color: #555;
    margin-top: 10px;
    font-family: "Segoe UI", Arial, sans-serif;
    }

    .selector {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    width: 40%;
    color: black;
    }

        @keyframes fader {
    from { opacity: 0; transform: translateY(10px)}
    to {opacity: 1; transform: translateY(0px)}
    }

    .about {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation: fader 2s;
    }

    .about h1 {
    color: white;
    font-size: 48px;
    line-height: 1.4;
    font-family: "Segoe UI", Arial, sans-serif;
    margin-top: 0px;
    padding: 20px;
    background: rgba(0, 198, 252, 0.92);
    border-radius: 50px;
    box-shadow: 0px 1px 4px rgba(0, 198, 252, 0.92);
    }

    .about-stuff p {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 1.0;
    font-family: "Segoe UI", Arial, sans-serif;

    }

    .about-stuff {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    gap: 3em;
    animation: fader 2s;
    }

    .images {
    background: rgba(0, 198, 252, 0.92);
    width: 80%;
    border-radius: 20px;
    padding: 7px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 3px rgba(0, 198, 252, 0.92);
    padding-top: 20px;
    }

    .images img:hover {
    transform: scale(1.05);
    box-shadow: 0px 1px 20px white;

    }

    .images h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 30px;
    color: white;
    padding-bottom: 0;
    }

    .images img {
    width: 15em;
    height: auto;
    border-radius: 100%;
    transition: color 0.4s ease-out, transform 0.4s ease-out, box-shadow 0.2s;
    }

    .images-content {
    padding-left: 20px;
    padding-right: 20px;
    }