.about-us {
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
}

.section-1 {
    display: flex;
    align-items: center;
    margin: 10px 5em 1em 5em;
    /*width: 70%;*/
}

.section-1 img {
    width: 50%;
    margin-left: 10px;
    padding: 1%;
    border-radius: 10%;
}

.section-1-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    font-size: 22px;
    color: #ffffff;
    margin: 1em 1em 1em 1em;
    padding: 0 1em 0 1em;
    background: #00A755;
    background: radial-gradient(circle, rgba(0, 167, 85, 1) 51%, rgba(0, 110, 81, 1) 100%);
    /*box-shadow: 0 0 20px #00A7468E;*/
    border: 2px solid #333333;
    border-radius: 20px;
}

.section-1-container p {
    font-family: "Roboto Flex", sans-serif;
    line-height: 1.3em;
    font-size: 20px;
    margin: 0 0 20px 0;
    font-weight: normal;
}

.section-1-container h1 {
    font-family: "League Spartan", sans-serif;
    margin-bottom: 0.25em;
}

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5em 1em 5em;
    /*width: 70%;*/
}

.section-2 img {
    width: 50%;
    margin-left: 10px;
    padding: 1%;
    border-radius: 10%;
}

.section-2-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    font-size: 22px;
    color: #ffffff;
    margin: 1em 1em 1em 1em;
    padding: 0 1em 0 1em;
    background: #00A755;
    background: radial-gradient(circle, rgba(0, 167, 85, 1) 51%, rgba(0, 110, 81, 1) 100%);
    /*box-shadow: 0 0 20px #00A7468E;*/
    border: 2px solid #333333;
    border-radius: 20px;
}

.section-2-container p {
    font-family: "Roboto Flex", sans-serif;
    line-height: 1.3em;
    font-size: 20px;
    margin: 0 0 20px 0;
    font-weight: normal;
}

.section-2-container h1 {
    font-family: "League Spartan", sans-serif;
    margin-bottom: 0.25em;
}