.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.form {
    display: flex;
    /*background: #00A755;*/
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 40%;
  background: #00A755;
  padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.94);
}

.contact h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 2em;
}

.form {
    display: flex;
    flex-direction: column;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}