.fixtures {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "League Spartan", serif;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}

.fixture-container {
    width: 80%;
}

.date {
    display: flex;
    background-color: #dcdcdc;
    margin: 0 0 0 0;
    justify-content: center;
    padding: 1em;
    border: 1px solid rgba(191, 191, 191, 0.8);
    font-size: 1.2em;
    font-weight: bold;
}

/* Container for each fixture row */
.fixture-container-clubs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #eaeaea;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
    border: 1.5px solid #bfbfbf;
}

/* Team name area (center text properly) */
.fixture-container-clubs h1 {
    font-size: 3rem;
    text-align: center;
}

/* Secondary container with two columns */
.fixture-container-clubs-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    text-align: center;
}

/* Logos */
.fixtures img {
    width: 5rem;
    height: auto;
    object-fit: contain;
    justify-self: center;
}

.fixture-container-venue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}