    body {
    min-height: 100vh;
    margin: 0;
    /*background-image: url("/static/background-image.png");*/
    background: rgb(241, 241, 241);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

    .content {
        min-height: 50em;
    animation: fadeInOpacity 0.5s;
}

/*
Source - https://stackoverflow.com/a
Posted by DigitalDesignDj
Retrieved 2025-12-01, License - CC BY-SA 3.0
*/

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

    .navbar {
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0px;
        z-index: 100;
    }

    @keyframes fadeInOpacity {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

    .navbar-container {
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.81);
        justify-content: center;
        height: auto;
        width: 100%;
        padding: 0.5em;
        backdrop-filter: blur(10px) brightness(1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.55);
    }

    .logo {
        display: flex;
        justify-content: flex-start;
    }

    .logo img {
        width: 3rem;
    }

    .navbar-links {
        display: flex;
        justify-content: space-evenly;
    }
    
    .navbar-links a {
        color: white;
        padding: 1em;
        font-weight: bold;
        text-decoration: none;
        font-size: 22px;
        font-family: "League Spartan", sans-serif;
        &.active {
            color: #00a746;
        }
        transition: color 0.3s ;
    }

    .navbar-links a:hover {
        color: #00a746;
    }

    .footer {
        border-top: 0.5em solid rgb(41, 41, 41);
        /*margin-bottom: 2em;*/
        background-image: url("/static/footer-image.png");
        background-size: cover;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 0;
        position: relative;
    }

    .footer-container {
    display: flex;
    width: 70%;
    margin-top: 1em;
    margin-bottom: 0;
    }

    .footer-logo {
        display: flex;
    }

    .footer-logo img{
        width: 7rem;
        padding: 1em;
        margin-left: 2em;
    }

    .footer-heading {
        font-size: 22px;
        font-family: "League Spartan", sans-serif;
        color: white;
    }

    .footer-heading p {
        margin-top: 0;
        line-height: 1.25em;
    }

    .footer-heading h1 {
        margin-bottom: 0;
    }

    .social-media img{
        width: 2rem;
        margin-top: -100%;
    }

    .social-media {
        display: flex;
        margin-left: 14%;
        gap: 5px;
        padding-bottom: 2em;
    }