.results {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "League Spartan", serif;
    justify-content: center;
    align-items: center;
    animation: fadeInOpacity 0.5s;
    color: black;
    background: #00A755;
    background: linear-gradient(-128deg, rgba(0, 167, 85, 1) 0%, rgba(0, 110, 81, 1) 100%);
    height: 60vh;
}

.results h1 {
    margin-bottom: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . .";
    justify-items: center;
    align-items: center;
    text-align: center;
    /*padding: 10em;*/
    padding: 1em;
    background-color: #eaeaea;
    border: 1px solid #bfbfbf;
    border-radius: 15px;
    box-shadow: #bfbfbf 0 3px 0;
}

.team-1, .team-2 {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.team-1 img, .team-2 img {
    width: 10rem;
    object-fit: contain;
}

.team-2 p, .team-1 p {
    font-size: 1.5rem;
    font-weight: bold;
}

.report {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.report p {
    width: 80%;
}