.team {
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: 3em;
}

.team h1 {
    font-family: "League Spartan", sans-serif;
    /*margin-top: 1em;*/
    margin-bottom: 0.25em;
}

.section-1 {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    padding: 0 1em 0 1em;
    margin: 0 1em 0 1em;
}

.section-1 img {
    height: 50vh;
    width: 50vw;
    border-radius: 5%;
}

.section-1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 1em 1em 1em 1em;
    padding: 0 1em 0 1em;
    /*border-radius: 5%;*/
    /*padding: 0 1em 0 1em;*/
    background-color: rgba(0, 167, 70, 0.56);
    border-radius: 10px;
    /*box-shadow: 0 0 20px #00A7468E;*/
    border: 1px solid #018135;
}

.section-1-container p {
    margin-top: 0;
    font-family: "Roboto Flex", sans-serif;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}