    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Landing Page{% endblock %}</title>
        <link rel="icon" type="image" href="/static/icon-web.png">
        <link rel="stylesheet" href="{{ url_for('static', filename='navbar_footer.css') }}">
    </head>

    <body>
        <div class="navbar">
            <div class="navbar-left">
                <div class="logo">
                    <a href="{{ url_for('main.home') }}"> <img src="/static/logo.png"></a>
                </div>
                <div class="navbar-left-links">
                    <a href="{{ url_for('main.home') }}">Home</a>
                    <a href="{{ url_for('main.contact_us') }}">Contact Us</a>
                    <a href="{{ url_for('main.pricing') }}">Pricing</a>
                </div>
            </div>
            <div class="navbar-right">
                <div class="navbar-right-links">
                    <a href="{{ url_for('main.for_tutors') }}">Become a Tutor</a>
                </div>
                <div class="logo-right">
                    <a href="{{ url_for('auth.signup') }}"> <img src="/static/pfp-placeholder.png"></a>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                    {% endif %}

                </div>
            </div>
        </div>

        <div>
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer-stuff">
                    <h3>About</h3>
                    <ul>
                        <li><p>banana</p></li>
                        <li><p>animal</p></li>
                    </ul>
                </div>

                <div class="footer-stuff">
                    <h3>All Subjects</h3>
                    <ul>
                        <li><p>banana</p></li>
                        <li><p>animal</p></li>
                    </ul>
                </div>

                <div class="footer-stuff">
                    <h3>Help</h3>
                    <ul>
                        <li><p>banana</p></li>
                        <li><p>animal</p></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
    </html>
