{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='home-code.css') }}">

<div class="hero">
    <div class="container-banner">
        <h1>The Heart of Rugby in Devon </h1>
        <p>Bringing players, clubs and communities together to grow the game we love.
        From grassroots to greatness, Devon RFU is at the heart of rugby in Devon.</p>
    </div>
</div>

<div class="about">
    <img src="/static/assets/placeholder-square.svg">
    <div class="about-container">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel diam faucibus ipsum auctor hendrerit. Morbi consectetur viverra finibus.
        Sed a ligula quis ex mollis tincidunt. Nam commodo ultrices lorem, id facilisis ante ultrices sit amet. <br>
        Donec placerat elit eget facilisis blandit.
        Duis commodo risus a mauris facilisis, et luctus erat tristique.
        Aliquam erat volutpat. Integer nec mauris ac mauris tincidunt euismod id sed dui.
        Vivamus ultrices mi nibh, id iaculis ipsum vehicula nec. Morbi pellentesque </p>
        <a href="{{ url_for('main.about_us') }}" class="button">Read More</a>
    </div>
</div>

<div class="sponsor">
    <h1>Sponsors</h1>
    <div class="sponsor-container">

        <img src="/static/assets/placeholder-square.svg">
        <img src="/static/assets/placeholder-square.svg">
        <img src="/static/assets/placeholder-square.svg">
        <img src="/static/assets/placeholder-square.svg">
        <img src="/static/assets/placeholder-square.svg">
    </div>
</div>

<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="/static/assets/placeholder-square.svg" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/static/assets/placeholder-square.svg" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/static/assets/placeholder-square.svg" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="/static/assets/placeholder-square.svg" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>

{% endblock %}