{% extends "base.html" %}
{% block title %}News{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='news.css') }}">

    <div class="news">
        <div class="news-container-1">
            <img src="/static/wide-placeholder-image.png">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel diam faucibus ipsum auctor hendrerit. Morbi consectetur viverra finibus.
        Sed a ligula quis ex mollis tincidunt. Nam commodo ultrices lorem, id facilisis ante ultrices sit amet. <br>
                Donec placerat elit eget facilisis blandit.</p>
        </div>
        <div class="news-container-for-three">
            <div class="news-container-2">
                <img src="/static/placeholder-square.svg">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel diam faucibus ipsum auctor hendrerit. Morbi consectetur viverra finibus.
        Sed a ligula quis ex mollis tincidunt. Nam commodo ultrices lorem, id facilisis ante ultrices sit amet. <br>
                Donec placerat elit eget facilisis blandit.</p>
            </div>

            <div class="news-container-3">
                <img src="/static/placeholder-square.svg">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel diam faucibus ipsum auctor hendrerit. Morbi consectetur viverra finibus.
        Sed a ligula quis ex mollis tincidunt. Nam commodo ultrices lorem, id facilisis ante ultrices sit amet. <br>
                Donec placerat elit eget facilisis blandit.</p>
            </div>

            <div class="news-container-4">
                <img src="/static/placeholder-square.svg">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel diam faucibus ipsum auctor hendrerit. Morbi consectetur viverra finibus.
        Sed a ligula quis ex mollis tincidunt. Nam commodo ultrices lorem, id facilisis ante ultrices sit amet. <br>
                Donec placerat elit eget facilisis blandit.</p>
            </div>
        </div>
    </div>

{% endblock %}