.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-box {
    margin: 5px;
}